body {
  background-color: #f1deb8;
  line-height: 1.5;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding: 0 32px;
}
h1 {
  background-color: black;
  color: white;
  font-size: 2rem;
}
input {
  padding: 1rem 3rem;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}
input:hover {
  border: 2px solid blue;
}
.followers,
.following {
  list-style: none;
  text-align: center;
}
li {
  padding: 0.5rem;
  margin: 0.5rem;
}
.user-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
}
h2 {
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
p {
  font-size: 1rem;
  color: black;
  font-weight: 400;
  margin: 0 auto;
  text-decoration: underline;
}
h3 {
  padding: 0.3rem;
  margin: 1rem;
}
.flex {
  display: flex;
  justify-content: center;
}
hr {
  color: blue;
}
h4 {
  padding: 1rem 0;
  margin: 0 auto;
  color: black;
  font-size: 2.5rem;
}
.cat-image {
  width: 300px;
  height: 200px;
}
button {
  padding: 1rem;
  background-color: orange;
  color: black;
  display: block;
  margin: 1rem auto;
}
